body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(img/fondo.jpg);
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 65px;
  color: black;
  letter-spacing: 6px;
  display: flex;
  align-items: center;
  text-shadow: 3px 3px 3px white;
  margin-top: 40px;
  margin-bottom: 30px;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grilla {
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.466);
  border: solid 3px white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icono {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 35px;
  text-shadow: 1px 1px 1px white;
}


